h1 {
    font-family: var(--font--fira-mono);
    font-size: 48px;
    font-weight: 700;

    color: var(--color--road-guard);
}

h2 {
    font-family: var(--font--rokkitt);
    font-size: 32px;
    font-weight: 500;

    color: var(--color--road-guard);
}

p {
    font-family: var(--font--martel);
    font-size: 18px;
    font-weight: 400;

    color: var(--color--road-guard);
}