h1 {
    font-family: var(--font--fira-mono);
    font-size: 5vh;
    font-weight: 700;

    color: var(--color--road-paint-white);

    background-color: var(--color--new-pavement);
    padding: 2vh;
    border-radius: 1vh;
}

h2 {
    font-family: var(--font--rokkitt);
    font-size: 4vh;
    font-weight: 500;

    color: var(--color--road-paint-white);
}

h3 {
    font-family: var(--font--rokkitt);
    font-size: 3vh;
    font-weight: 500;

    color: var(--color--road-paint-white);
}

a {
    font-family: var(--font--martel);
    font-size: 2vh;
    font-weight: 400;

    color: var(--color--road-paint-yellow);
}

code {
    padding: 0.3vh 0.6vh;
    border-radius: 0.4vh;
    background-color: var(--color--new-pavement);
    color: var(--color--traffic-display);
}

pre {
    padding: 1.2vh 1.2vh;
    border-radius: 0.4vh;
    background-color: var(--color--new-pavement);

    font-size: 1.618vh;



    > code {
        background-color: unset;
        padding: unset;
        border-radius: unset;
    }

}



strong {
    color: var(--color--road-paint-yellow);
}

em {
    color: var(--color--road-paint-yellow);
}

li, p {
    font-family: var(--font--martel);
    font-size: 2vh;
    font-weight: 400;

    color: var(--color--road-guard);
}


ul {
    li {
        &::marker {
            color: var(--color--hard-hat);


        }

        input {
            & ~ ::marker {
                content: "";
            }
        }
    }
}

blockquote {
    background-color: var(--color--hard-hat);

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}

input[type="checkbox"]:disabled ~ *::marker {

    padding: 40px;
    content: "";
}