:root {
    // fonts
    --font--inter: 'Inter';
    --font--dot-matrix: 'Dot-Matrix';
    --font--fira-mono: 'Fira-Mono';
    --font--martel: 'Martel';
    --font--rokkitt: 'Rokkitt';

    // colors
    --color--traffic-display: #FF8B40;
    --color--traffic-cone: #FF6400;
    --color--black: #000000;
    --color--white: #FFFFFF;
    --color--new-pavement: #292929;
    --color--pavement: #4D5456;
    --color--road-guard: #DBD7CB;
    --color--road-paint-white: #EAEBEB;
    --color--road-paint-yellow: #F3C14E;
    --color--road-sign: #008080;
    --color--safety-vest: #9CCE2E;
    --color--hard-hat: #FFE400;
    --color--dirt-dry: #E9C491;
    --color--dirt-wet: #93633A;
}