:root {
  // fonts
  --font--inter: "Inter";
  --font--dot-matrix: "Dot-Matrix";
  --font--fira-mono: "Fira-Mono";
  --font--martel: "Martel";
  --font--rokkitt: "Rokkitt";

  // colors
  --color--traffic-display: #ff8b40;
  --color--traffic-cone: #ff6400;
  --color--black: #000000;
  --color--white: #ffffff;
  --color--new-pavement: #292929;
  --color--pavement: #4d5456;
  --color--road-guard: #dbd7cb;
  --color--road-paint-white: #eaebeb;
  --color--road-paint-yellow: #f3c14e;
  --color--road-sign: #008080;
  --color--safety-vest: #9cce2e;
  --color--hard-hat: #ffe400;
  --color--dirt-dry: #e9c491;
  --color--dirt-wet: #93633a;
}
