:root {
    // fonts
    --font--dot-matrix: 'Dot-Matrix';
    --font--fira-mono: 'Fira-Mono';
    --font--martel: 'Martel';
    --font--rokkitt: 'Rokkitt';

    // colors
    --color--traffic-display: #FF8B40;
    --color--new-pavement: #292929;
    --color--pavement: #4D5456;
    --color--road-guard: #DBD7CB;
}