.layout {
    padding: 40px;

    width: calc(100vw - 80px);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 40px auto;
    grid-template-areas:
        "ga-title"
        "."
        "ga-content";
}

.title {
    grid-area: ga-title;

    font-family: var(--font--dot-matrix);
    font-size: 72px;
    font-weight: 400;

    color: var(--color--traffic-display);
}

.content {
    width: 100%;
    grid-area: ga-content;
    place-self: center;
}

.posts {
    width: 100%;

    .post {
        text-decoration: none;

        display: flex;
        flex-direction: column;

        &__title {
            font-family: var(--font--fira-mono);
            font-size: 40px;
            font-weight: 700;
            color: var(--color--road-guard);
        }

        &__summary {
            margin-top: 10px;

            font-family: var(--font--martel);
            font-size: 18px;
            font-weight: 400;
            color: var(--color--road-guard);
        }

    }
}

.post {
    border-radius: 15px;
    border: 1px solid var(--color--white);
    
    padding: 20px;
}


